.login-button {
    width: 50%;
    padding: 10px;
    background-color: #E9F035;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    color: #000;
    cursor: pointer;
    margin-top: 20px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .login-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  